@"
__pycache__/
*.pyc

# ML models
*.keras
*.pt
*.pth
*.h5

# Datasets
*.csv
*.xlsx
*.zip

# Database
*.db

# Environment
.env
.venv/
venv/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db
"@ | Set-Content .gitignore